section.modal-background{
    position: fixed;
    height: 100%;
    width: 100%;    
    background-color: rgba(0, 0, 0, 0.397);
    z-index: 1000;
    cursor: pointer;
}

div.bill-to-container-mobile{
    display: none;
}

div.new-invoice-bill-from-mobile{
    display: none;
}

h2{
    margin-bottom: 35px;
}

h4{
    color: #7C5DFA;
    margin-bottom: 15px;
}

label{
    width: fit-content;
    margin-bottom: 4px;
    color: var(--modal-color-label);
}

div.new-modal-button-container-mobile {
    display: none;
}

div.modal-new-container{
    height: 100%;
    width: 680px;
    border-radius: 0px 20px 20px 0;
    background-color: var(--background-main);
    z-index: 1001;
    cursor: auto;
}

div.new-form-container{
    width: 100%;
    height: 100%;
    padding: 50px 40px 20px 150px;
    overflow: auto;
}

div.new-invoice-bill-from,
div.bill-to-container{
    margin-bottom: 40px;
}

div.bill-from-adi-container,
div.bill-to-client-name-container,
div.bill-to-client-mail-container,
div.bill-to-client-adi-container,
div.project-description-container{
    width: 100%;
    display: flex;


}

div.bill-from-city-post-country,
div.bill-to-city-post-country{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

div.bill-from-adi-container,
div.bill-to-client-name-container,
div.bill-to-client-mail-container,
div.bill-to-client-adi-container,
div.project-description-container{
    flex-direction: column;
    margin: 15px 0 15px 0;

}

input.invoice-inputs{
    height: 48px;
    border-radius: 5px;
    outline: 0;
    border: 1px solid var(--modal-input-border);
    background-color: var(--background-secondary);
    font-weight: 600;
    font-size: 18px;
    padding: 0 20px 0 20px;
    color: var(--text-color);
}

input.invoice-inputs:focus{
    outline: 1px solid #7C5DFA;
}

div.bill-from-city,
div.bill-from-post,
div.bill-from-country,
div.bill-to-city,
div.bill-to-post,
div.bill-to-country{
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 10px 0 10px 0;
}

div.date-payment-container{
    display: flex;
    justify-content: space-between;
}

input.three-shared-input{
    width: 100%;
}

button.add-new-item-btn{
    width: 100%;
    color: var(--add-button-text-color);
    background-color: var(--add-button-background-color);
    transition: all .3s;
    margin-top: 20px;
}

button.add-new-item-btn:hover{
    background-color: var(--add-button-color-hover);
}

div.new-modal-button-container{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

/* *********************************************************** EDIT MODAL *********************************************************** */

div.edit-modal-button-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

button.modal-cancel-btn{
    background-color: var( --add-button-background-color);
    color: var(--add-button-text-color);
    transition: all .3s;
}


button.modal-save-changes-btn{
    margin-left: 15px;
    background-color: #7C5DFA;
    transition: all .3s;
}

button.modal-save-changes-btn:hover{
    background-color: #9277FF;
}


button.modal-discard-btn{
    background-color: #d9dadf;
    color: #7E88C3;
    transition: all .3s;

    
}

button.modal-discard-btn:hover{
    background-color: #DFE3FA;
}


button.modal-save-draft-btn{
    background-color: #373B53;
    color: var(--save-as-draft-button-text-color);
    margin-right: 10px;
    transition: all .3s;
}

button.modal-save-draft-btn:hover{
    background-color: var(--save-as-draft-button-color-hover);
}

button.modal-save-send-btn{
    background-color: #7C5DFA;
    transition: all .3s;


}

button.modal-save-send-btn:hover{

}


/* *********************************************************** EDIT MODAL *********************************************************** */


/* *********************************************************** Delete MODAL *********************************************************** */

div.delete-container{
    border-radius: 15px;
    padding: 30px;
    height: 240px;
    width: 400px;
    background-color: var(--background-main);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.delete-container h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

div.delete-container p {
    font-weight: 400;
    color: var(--save-as-draft-button-text-color);
}


div.delete-container button {
    margin-top: 30px;
    margin-bottom: 10px;
}

div.delete-modal-btn-container {
    display: flex;
    justify-content: flex-end;
}


/* *********************************************************** Delete MODAL *********************************************************** */


@media screen and (max-width: 1030px) {
    section.modal-background {
        position: fixed;
        top: 78px;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.397);
        z-index: 1000;
        cursor: pointer;
    }

    div.modal-new-container {
        height: 100%;
        width: 580px;
        border-radius: 0px 20px 20px 0;
        background-color: var(--background-main);
        z-index: 1001;
        cursor: auto;
    }

    div.new-form-container {
        width: 100%;
        height: 100%;
        padding: 50px 40px 120px 50px;
        overflow: auto;
    }
}


@media screen and (max-width: 680px) {
    div.new-form-container {
        width: 100%;
        height: 100%;
        padding: 50px 40px 220px 50px;
        overflow: auto;
    }

    div.bill-from-city-post-country{
        display: none;
    }

    div.bill-to-container{
        display: none;
    }

    div.bill-from-city-post-country-mobile{
        display: block;
    }

    div.bill-to-container-mobile{
        display: block;
    }

    div.bill-from-country, div.bill-to-country {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 0 10px 0;
    }

    div.new-modal-button-container-mobile {
    
            width: 100%;
            position: sticky;
            bottom: 0;
            display: flex;
            justify-content: center;
            padding: 30px;
            background-color: var(--background-main);
            border-radius: 15px 15px 0 0;
    
    }

    div.edit-modal-button-container-mobile {
    
        width: 100%;
        position: sticky;
        bottom: 0;
        display: flex;
        justify-content: center;
        padding: 30px;
        background-color: var(--background-main);
        border-radius: 15px 15px 0 0;

}

    div.modal-new-container {
        height: 100%;
        width: 100%;
        border-radius: 0px 0px 0px 0;
        background-color: var(--background-main);
        z-index: 1001;
        cursor: auto;
    }

    div.new-modal-button-container,
    div.edit-modal-button-container{
        display: none;
    }

    button.modal-save-draft-btn{
        background-color: #373B53;
        color: var(--save-as-draft-button-text-color);
        margin: 0 10px 0 10px;
        transition: all .3s;
    }

    div.date-payment-container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
}